extends ../base/base

block about-us
  .section-banner
    .banner

  .section
    .company-detail
      h3 公司介绍
      .company-content
        p.indent.
          南京百思易网络科技有限公司，简称“百思易”，创立于2014年12月30日，是一家高新技术服务企业。公司位于南京奥体北门侧，是“江苏省家用电器维修协会”的常务理事单位。自成立以来，公司依托强大的技术团队，专注于家电行业商贸与服务的系统研发，目前拥有互联网领域及资深家电行业背景的产品、研发、技术、市场、运营、客服等各类专业人才近百余人。
        p.indent.
          公司重磅推出“百思易SaaS系统”和“找人上门平台”双引擎，打造“百思易”、“找人上门”双品牌，致力成为家电后市场“技术强大、团队专业、服务贴心”的明星级服务提供商。
        p.indent.
          百思易以“百思易SaaS系统”为核心元素，本着“共享、共赢”的发展理念，形成面向家电行业企业应用的系列产品及针对性解决方案，提升了公司自身商业价值和核心竞争力。同时，对于家电行业而言，百思易更是一个“共享经济型系统”，它强大的功能为家电行业的合作伙伴提供了“流量共享”多赢模式。
        p.indent.
          找人上门以“强大的服务力量”优势立足于家电后市场，是一站式居家维修服务O2O平台，力求完美解决客户居家维修服务需求。目前，找人上门服务网点辐射南京各小区，为市民提供足不出户即可享受专业、贴心的家电安装、家电维修、清洗保养、便民服务等一站式居家维修服务。获得了广大市民认可，建立了良好口碑，成为南京市民居家维修服务的首选品牌。
        
        p 
          a(href="http://www.bsy365.com/") 百思易
        p 
          a(href="http://www.51zrsm.com/") 找人上门
